<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Sorting algorithms simulator</title>

		<link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link href="bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
		<script src="bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>

		<link href="../styles/simulator.scss" rel="stylesheet">
		<script src="../scripts/pages/{{nameMachine}}.ts" defer></script>
	</head>
	<body data-bs-theme="dark">
		<div id="topbar" class="container-fluid">
			<a class="navbar-brand" href="">{{name}}</a>
			<div id="topbar-buttons_wrapper">
				<button id="dark_mode-toggle" type="button" class="btn btn-primary"></button>
				<button id="settings-open" type="button" class="btn btn-primary"><i class="bi bi-gear-fill"></i></button>
			</div>
		</div>

		<div class="container-fluid">
			<div id="navbar">
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Menu</a></li>
						<li class="breadcrumb-item" active>{{name}}</li>
					</ol>
				</nav>
			</div>

			<div id="top_controls">
				<div class="continuous_control">
					<div class="period_container">
						<label for="player_control-period">Step period</label>
						<input id="player_control-period" class="form-control form-control-sm" type="number" value="1" min="0.5" step="0.5">
						<span>s</span>
					</div>
					<div id="player_control" class="btn-group" role="group">
						<input id="player_control-pause" name="player_control-play" value="0" type="radio" class="btn-check" checked>
						<label for="player_control-pause" class="btn btn-outline-warning"><i class="bi bi-pause-fill"></i></label>

						<input id="player_control-play" name="player_control-play" value="1" type="radio" class="btn-check">
						<label for="player_control-play" class="btn btn-outline-success"><i class="bi bi-play-fill"></i></label>
					</div>
				</div>
				<div id="step_kind_selector" class="radio_buttons_wrapper btn-group" role="group"></div>
			</div>

			<div id="row_main">
				<div id="state_renderer">
					<div class="control_module">
						<div id="stepping" class="step_controls"></div>
					</div>
					<div id="canvas_wrapper">
						<svg id="canvas" xmlns="http://www.w3.org/2000/svg"></svg>
					</div>
					<div id="step_description"></div>
				</div>
				<div id="debugger_collection-wrapper" class="hide_wrapper">
					<button id="button_hide_debugger" type="button" data-bs-toggle="collapse" data-bs-target="#debugger_collection" aria-expanded="true" aria-controls="debugger_collection">
						<i class="bi"></i>
						<span class="target">debugger</span>
						<i class="bi"></i>
					</button>
					<div id="debugger_collection" class="collapse show">
						<div class="control_module">
							<div id="stepping_code" class="step_controls"></div>
						</div>
						<div id="debugger_row">
							<div id="debugger_wrapper">
								<div id="debugger"></div>
							</div>
							<div id="variable_watch-hide_wrapper" class="hide_wrapper">
								<button type="button" data-bs-toggle="collapse" data-bs-target="#variable_watch-collapse_wrapper" aria-expanded="true" aria-controls="variable_watch-collapse_wrapper">
									<i class="bi"></i>
									<span class="target">variables</span>
									<i class="bi"></i>
								</button>
								<div id="variable_watch-collapse_wrapper" class="collapse show collapse-horizontal">
									<div id="variable_watch-wrapper">
										<table id="variable_watch">
											<thead>
												<td>Name</td>
												<td>Value</td>
											</thead>
											<tbody id="variable_watch-body"></tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="call_stack-hide_wrapper" class="hide_wrapper">
								<button type="button" data-bs-toggle="collapse" data-bs-target="#call_stack-collapse_wrapper" aria-expanded="true" aria-controls="call_stack-collapse_wrapper">
									<i class="bi"></i>
									<span class="target">call stack</span>
									<i class="bi"></i>
								</button>
								<div id="call_stack-collapse_wrapper" class="collapse show collapse-horizontal">
									<div id="call_stack-wrapper">
										<table id="call_stack">
											<thead>
												<td>Function</td>
												<td>Variables</td>
											</thead>
											<tbody id="call_stack-body"></tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div id="simulator_controls">
				<button id="dialog-input-show" class="btn btn-primary">Input</button>
				<button id="reset_simulator" class="btn btn-danger"><i class="bi bi-arrow-repeat"></i> Reset</button>
			</div>
		</div>



		<dialog id="dialog-input">
			<div class="select_wrapper">
				<label for="dialog-input-method">Input method</label>
				<select id="dialog-input-method" class="form-select"></select>
			</div>
			<div id="dialog-input-method_area">

			</div>
			<div class="dialog_buttons">
				<button id="dialog-input-close" class="btn btn-danger">Close</button>
				<button id="dialog-input-ok" class="btn btn-primary">Load</button>
			</div>
		</dialog>
	</body>
</html>