@use "common";



#display_mode_switch {
	display: flex;
	justify-content: flex-start;

	padding: 0.5rem;

	.pagination {
		margin-bottom: 0;
	}
}

div#card_container {
	padding: 1rem;

	div.row {

		div.col {
			margin-bottom: 1rem;

			div.card {
			
				div.card-footer {
					padding-top: 0px;
					padding-bottom: var(--bs-card-spacer-y);
					
					border-top: 0px;
					background-color: inherit;
					
					text-align: center;

					.btn {
						width: 100%;
					}
				}
			}
		}
	}
}

div#table_container {
	text-wrap-style: balance;
	
	div[class^="col-"] {
		align-content: center;
		text-align: center;
	}

	.table-head {
		font-weight: bold;
	}

	div.algorithm-name {
		text-align: left;
	}

	.family_sorts_wrapper {
		a {
			text-decoration: none;
			color: inherit;
		}
	}

	.algorithm .algorithm-name {
		> span {
			margin-left: 1em;
		}
	}
}