@use "common";




div#card_container {
	padding: 1rem;

	div.row {

		div.col {
			margin-bottom: 1rem;

			div.card {
			
				div.card-footer {
					padding-top: 0px;
					padding-bottom: var(--bs-card-spacer-y);
					
					border-top: 0px;
					background-color: inherit;
					
					text-align: center;

					.btn {
						width: 100%;
					}
				}
			}
		}
	}
}