@use "common";



:root {
    --code-highlight-color: yellow;
}



div.control_module {
    @include common.margin-vertical();
}

.confirm_button {
    margin-top: 8px;
}

label {
    margin-bottom: 4px;
}

#button_reset {
    margin-top: 8px;
}

#row_main {
    $border: 2px solid black;
    
    border: $border;
    text-align: center;


    #col_renderer {
        display: flex;

        @media (max-width: 992px) {
            border-bottom: $border
        }
        @media (min-width: 992px) {
            border-right: $border;
        }

        #canvas {
            width: 100%;
            height: 100%;
        }
    }
    
    #col_debugger {
        background-color: black;
        color: white;

        text-align: left;
        align-content: center;
        max-width: fit-content;

        .code-line {
            display: grid;
            grid-template-columns: 3em auto;

            font-family: monospace;

            .code-header {
                grid-column: 1;

                background-color: grey;

                text-align: right;
                padding-right: 0.5em;

                user-select: none;  /* Make the text un-selectable */
            }

            .code-text {
                grid-column: 2;

                padding-left: 0.5em;
                white-space: pre;
            }
        }

        .code-highlight {
            background-color: var(--code-highlight-color);
        }
    }

    #col_controls {
        padding: 1rem;
        --bs-gutter-x: 0;

        @media (min-width: 992px) {
            max-width: 370px;
        }

        #numbers_input {
            width: 96%;
            text-align: center;
        }

        #period_container {
            padding: 8px;

            #player_control_period {
                width: 4.5em;
            }
        }
    }
}

.wrong {
    $primary-color: red;

    color: $primary-color;

    border-width: 2px;
    border-color: $primary-color;
}
